<div class="col-md-12">
  <h2> Employee Details</h2>
  <button class="btn  btn-primary" (click)="addEmployee()"> Add User</button>
  <table mat-table class="table table-striped" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef> Id.</th>
      <td *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef> Name</th>
      <td *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <th *matHeaderCellDef> Salary</th>
      <td *matCellDef="let element"> {{element.employee_salary}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th *matHeaderCellDef> Age</th>
      <td *matCellDef="let element"> {{element.employee_age}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef> Action</th>
      <td *matCellDef="let element">
        <button class="btn btn-danger" (click)="deleteEmployee(element)"> Delete</button>
        <button class="btn btn-warning" style="margin-left: 20px;" (click)="editEmployee(element)"> Edit</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
